p {
    margin: 0;
}
body {
    width: 100%;
    
    /* max-width: 1920px; */
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-image: url(../images/Im_1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; */
    /* background-size: contain; */
}
/* header */
.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: rgba(234, 240, 248, .5);
}
.section_menu_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 90px;
}
.header_top_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 60px;
}
.top_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 60px;
    
}
.top_menu {
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none; 
    justify-content: center;
    display: flex;
    transition-delay: .2s;
}
.top_menu li {
    padding-right: 30px;     
}
.top_menu a {
    text-decoration: none;
    color: #aab9e2;   
}
.top_menu a:hover {
    color: #3d59ad;
    text-decoration: none;
    
}
.top_menu_btn {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(to right, #7492ec, #a77bff);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    transition: .2s;
    max-height: 40px;
}
.top_menu_btn:hover {
    color: #000000;
    background: linear-gradient(to right, #606d9e, #836dad);    
    border-color: transparent;
}
.top_menu_btn:active {
    border-radius: 0px;
    border: 1px solid transparent;
    color: #ffffff;
}
.nav_menu {
   overflow: auto;
}
/* section */
.section {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: auto;
    
    padding: 0px 15px 0px 15px; 
}
.section_menu_header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
    
}
.section_header {
    background: url(./images/Im_1.png);
    background-repeat: no-repeat;
   
    
    padding-top: 260px;
    padding-bottom: 200px;
   
}
.section_info {
    overflow: auto;
    padding-bottom: 200px;
    margin-right: 40px;
}
.section_header_text {
    text-align: right;
    font-size: 72px;
    font-weight: 300;
    color: #7492ec;
}
.section_header_text:first-child {
    padding-right: 90px;   
}
/* section_about */
.section_about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -55px;
    overflow: auto;
    padding-bottom: 115px;
}
.section_about_content {
    display: flex;
}
.section_about_bg {
    position: absolute;
    right: 0%;
    margin-top: -75px;
}
.about_item {
    overflow: auto;
    width: calc(50% - 15px);
    padding-top: 160px;
    min-width: 570px;
    
}
.about_title {
    font-size: 48px;
    font-weight: 300;
    color: #7492ec;
    margin-bottom: 10px;
}
.abaut_text {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
    color: #666666;
    line-height: 24px;
    padding-right: 20px;
}

.about_item_list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 115px;
   
}
.list_icon {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 60px;
}
.list_content {  
    display: flex;
}  
.list_content:last-child {
    margin-bottom: 0px;
}
.list_title {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding: 5px 0 15px;  
}
.list_text {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
}
/* section_classes */
.section_classes {
    display: block;
    overflow: auto;
    width: 100%;
    overflow: auto;
    background: url(../images/classesbg1.png) no-repeat; 
    background-color: #f1f3f8;
   
}
.about_classes {
     position: relative;
}
.about_classes_img {
    width: 100%;
    text-align: center;
}
.text_h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #7492ec;
    margin: 0px;
    padding-bottom: 53px;
}
.about_classes_info_all {
    overflow-x: hidden;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.about_classes_info_all:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    right: -10px;
    bottom: 50%;
    z-index: 10;
    transform: translateY(-50%) rotate(45deg);
}
.about_classes_info_all:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    left: -10px;
    bottom: 50%;
    z-index: 10;
    transform: translateY(-50%) rotate(225deg);
}
.about_classes_info {
    width: calc(25% - 25px);
    margin-right: 25px;
}
.classes_info_title {
    font-size: 18px;
    color: #7492ec;
    font-weight: 500;
    margin-bottom: 15px;
}
.classes_info {
    padding-left: 15px ;
}
.about_classes_icon img {
    max-width: 12px;
    max-height: 12px;
}
.about_classes_icon_time {
    display: flex;
}
.classes_info_title_four {
    padding-bottom: 27px;
    margin-bottom: 15px;

}
.about_classes_icon_person {
    display: flex;
}
.about_classes_icon_advanced {
    display: flex;
}
.about_classes_icon_text  {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #666666;
    padding-left: 20px ;
    margin-bottom: 15px;
}
.about_classes_icon {
    margin-bottom: 25px;
}
.about_classes_text {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #666666;
}
/* section_trial */
.section_trial {
    padding-top: 120px;
    overflow: auto;
    display: block;
}
.section_trial_up {
    text-align: center;
    overflow: auto;
}
.section_trial_title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 30px;
}
.section_trial_text {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}
.section_trial_btn {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, #7492ec, #a77bff);  
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 15px 50px;
    cursor: pointer;
    margin-bottom: 80px;
}
.section_trial_btn:hover {
    color: #7492ec;
    background:#dde1ec;
    border-color: #7492ec;
}
.section_trial_btn:active {
    border-radius: 0px;
    border: 1px solid #7492ec;
    color: #ffffff;
}
.trial_img {
    padding-right: 30px;
    box-sizing: border-box;
}
.section_trial_down {
    overflow: auto;
    align-items: center;
}
.section_trial_down_first {
    overflow: auto;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}
.section_trial_down_second {
    width: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
}
.third_trial {
    padding-right: 0px;
}
.five_trial {
    padding-right: 0px;
}
/* section_exp */
.section_special_exp {
    margin-bottom: 0px;
}
.section_exp {
    overflow: auto;
    background: url(../images/bgexp.png) no-repeat;
    background-color: #768be0;
    margin-top: 120px;

}
.section_exp_content {
    text-align: center;
    padding-bottom: 90px;
    padding-top: 140px;
    
}

.section_exp_title {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    margin: 0px;
    padding-bottom: 25px;
  
}
.section_exp_text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    padding: 0px 300px 55px 300px;
}
.section_exp_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin: 0px;
    text-decoration: none;
}
.section_exp_subtitle p {
    padding-bottom: 25px;
}

/* section_teacher */
.section_special_teacher {
    margin-bottom: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}
.section_teacher {
    padding-top: 120px;
}
.section_teacher_content {
    padding-left: 20px;
}
.section_teacher_name {
    margin: 0px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
}
.section_teacher_prof {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #c6c6c6;
}
.section_teacher_element{
    padding-bottom: 60px;
    width: 25%;
    display: flex;
}